@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');



*{
    margin: 0px;
    padding: 0px;
}

:root{
    --corAzul:   #009CDC;
    --corPreto:  #403C3D;
    --corBeje:   #F3B16A;
    --corBranco: #ffffff;

    --font-bold: 'Bebas Neue', cursive;
    --font-main: 'Raleway', sans-serif;
}

header{
    background-color: var(--corAzul);
    padding-top: 80px;
    min-height: 140px;
    
}

header > h1{
    color: var(--corBranco);
    font-family: var(--font-bold);
    text-align: center;
    font-weight: normal;
    font-size: 3em;
}

header > p{
    color: var(--corPreto);
    font-family: var(--font-main);
    text-align: center;
    font-weight: bold;
}

nav{
    background-color: #2683a8;
    text-align: center;
}

nav ul{
    display: inline-flex;
    list-style: none;
}

nav ul li{
    width: 100px;
    margin: 7px;
    padding: 7px;
    font-family: var(--font-main);
}

nav ul li a{
    text-decoration: none;
    color: var(--corBranco);
    font-family: var(--font-main);
}

/*HOME*/

.sub-menu-1{
    display: none;
}

nav ul li:hover .sub-menu-1{
       display: block;
       position: absolute;
       background-color: var(--corPreto);
       margin-top: 15px;
       margin-left: -38px;
}

nav ul li:hover .sub-menu-1 ul{
    display: block;
}

nav ul li:hover .sub-menu-1 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover{
    background-color: var(--corBeje);
}

/*SERVIÇOS*/

.sub-menu-2{
    display: none;
}

nav ul li:hover .sub-menu-2{
       display: block;
       position: absolute;
       background-color: var(--corPreto);
       margin-top: 15px;
       margin-left: -38px;
}

nav ul li:hover .sub-menu-2 ul{
    display: block;
}

nav ul li:hover .sub-menu-2 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 0.7s;
}

nav ul li:hover .sub-menu-2 ul li:hover{
    background-color: var(--corBeje);
}

/*CURIOSIDADES*/

.sub-menu-4{
    display: none;
}

nav ul li:hover .sub-menu-4{
    display: block;
    position: absolute;
    background-color: var(--corPreto);
    margin-top: 15px;
    margin-left: -38px;    
    color: var(--corBranco);
}

nav ul li:hover .sub-menu-4 ul{
    display: block;
}

nav ul li:hover .sub-menu-4 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 0.7s;

}

nav ul li:hover .sub-menu-4 ul li:hover{
    background-color: var(--corBeje);
}


main{
background-image: url('Imagens/numero.jpg');
background-size: cover;
background-attachment: fixed;

}

article{
    background-color: var(--corBeje);    
    padding: 10px;
    width: 1100px;
    margin: auto;
    text-align: justify;
    line-height: 1.5em;
    
    
}

article > h2{
    background-image: linear-gradient(to right, var(--corBranco), transparent);
    width: 700px;
    padding: 1px;
    border-radius: 5px;
    font-family: var(--font-bold);
    font-size: 1.5em;
    font-weight: normal;
    text-indent: 10px;    
}

article a{
    margin: ;
    padding: 2px;
    border-radius: 2px;
    width: 100%;
    line-height: 1.5em;
    text-align: justify;
}

footer{
    background-color: var(--corAzul);
    padding: 10px;
    text-align: center;
    font-family: var(--font-main);
    color: var(--corPreto);
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}

p{
    font-family: var(--font-main);
    font-weight: bold;
}


/*
Home
Serviços
    Orçamentos
    Manutenção
    Vendas
    Updrade

Suporte
    Assistencia técnica
    Assistencia Remota

Curiosidades
    Como surgiu a internet
    Como fazer Updrade
    Oque é limpeza preventiva
    Windows 10
    Windows 11

Sobre Nós
    De onde surgimos
    */