@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --corAzul:   #009CDC;
    --corPreto:  #403C3D;
    --corBeje:   #F3B16A;
    --corBranco: #ffffff;

    --font-bold: 'Bebas Neue', cursive;
    --font-main: 'Raleway', sans-serif;
}

body{
   background-image: url('../Imagens/numero.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

header{
    background-color: var(--corAzul);
    padding-top: 60px;
    min-height: 100px;
    
}

header > h1{
    color: var(--corBranco);
    font-family: var(--font-bold);
    text-align: center;
    font-weight: normal;
    font-size: 3em;
}

header > p{
    color: var(--corPreto);
    font-family: var(--font-main);
    text-align: center;
    font-weight: bold;
}

/* Menu */

nav{
    background-color:#2780a3;
    font-family: var(--font-main);
    font-weight: bold;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: inline-flex;
}

nav ul li{
    width: 100px;
    margin: 7px;
    padding: 7px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

/* Home */

.sub-menu-1{
    display: none;
}

nav ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: #2780a3;
    margin-top: 11px;
    margin-left: -41px;
    position: left;
}

nav ul li:hover .sub-menu-1 ul{
    display: block;
}

nav ul li:hover .sub-menu-1 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 0.7s;
}

nav ul li:hover .sub-menu-1 ul li:hover{
    background-color: white;
}

/*Serivços*/

.sub-menu-2{
    display: none;
}

nav ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background-color: #2780a3;
    margin-top: 13px;
    margin-bottom: -41px;
    position: rigth;
}

nav ul li:hover .sub-menu-2 ul{
    display: block;
}

nav ul li:hover .sub-menu-2 ul li{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 0.7s;
}

nav ul li:hover .sub-menu-2 ul li:hover{
    background-color: white;
}

main{
background-image: url('Imagens/numero.jpg');
background-size: cover;
background-attachment: fixed;

}

article{
    background-color: var(--corBeje);    
    padding: 10px;
    width: 1100px;
    margin: auto;
    text-align: justify;
    line-height: 1.5em;    
}

article > h2, h3{
    background-image: linear-gradient(to right, var(--corBranco), transparent);
    width: 700px;
    height: 28px;
    border-radius: 5px;
    font-family: var(--font-bold);
    font-size: 1.5em;
    font-weight: normal;
    text-indent: 10px; 
    line-height: normal;
    
}

h2{   
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}

article a{
    margin: ;
    padding: 2px;
    border-radius: 2px;
    width: 100%;
    line-height: 1.5em;
    text-align: justify;
}


/*PAGINA 2*/

#secundario{ 
    background-color: var(--corPreto);
}

div.video{
    background-color: var(--corPreto);
    text-align: center;
    margin: 0px -10px 10px -10px;
    padding: 20px;
    padding-bottom: 48px;
    position: relative;
    padding: 25%;    
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    text-align: right;
}

/*Monitor*/

.monitor{
    border: 1px solid black;
    height: 450px;
    background-color: white;
    background-image: url('../Imagens/kisspng-computer.png');
     
}

footer{
    background-color: var(--corAzul);
    padding: 10px;
    text-align: center;
    font-family: var(--font-main);
    color: var(--corPreto);
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}

p{
    font-family: var(--font-main);
    font-weight: bold;
}


/*
Home
Serviços
    Orçamentos
    Manutenção
    Vendas
    Updrade

Curiosidades
    Como surgiu a internet
    Como fazer Updrade
    Oque é limpeza preventiva
    Windows 10
    Windows 11

Sobre Nós
    De onde surgimos
    */